//
//  base.xcconfig
//


//BUNDLE_ID = com.ohmlabs.player

//CODE_SIGN_IDENTITY = iPhone Distribution: Ohm Labs, Inc./

BUNDLE_ID = stormbring

CODE_SIGN_IDENTITY = iPhone Developer: Reggie Adkins (J229VVCZA2)

ADDITIONAL_SDKS = 
ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos
ONLY_ACTIVE_ARCH = NO
ADDITIONAL_SDKS = 
SDKROOT = iphoneos
ONLY_ACTIVE_ARCH = NO
TARGETED_DEVICE_FAMILY = 1
IPHONEOS_DEPLOYMENT_TARGET = 5.0
ALWAYS_SEARCH_USER_PATHS = NO
RUN_CLANG_STATIC_ANALYZER = YES
VALIDATE_PRODUCT = YES
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_C_LANGUAGE_STANDARD = c99
GCC_PRECOMPILE_PREFIX_HEADER = YES

#include "warn.xcconfig"
